ul{
    display: inline-block;
    list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}
ul a{
        display:block;
        text-decoration:none;
        color: #333;
        font-weight:700;
        font-size:30px;
        line-height:45px;
        padding:0 15px;
        font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif

}

ul a:hover{
    color: white;
}

li{
    position:relative;
	float:left;
    margin:0;
    padding:0;
    transition: 0.3s;
}

li:hover{
    background-color: #333;
    color: white;
    transition: 0.3s;
}